.toolbar
	h3.pull-left Configure Grid
	button.btn.btn-info.pull-left(ng-click='updateGrid()') Update Grid
	.clearfix
	.row
		//- .col-sm-2
		//- 	label Max Columns
		//- 	select
		//- 		option(ng-repeat='item in getNumber(potentialMaxCol) track by $index', value='{{$index+1}}', ng-model='maxcol', ng-if='!isMaxCol($index+1)') {{$index+1}}
		//- 		option(ng-repeat='item in getNumber(potentialMaxCol) track by $index', value='{{$index+1}}', ng-model='maxcol', ng-if='isMaxCol($index+1)', selected="selected") {{$index+1}}
		.col-sm-2
			label Cell Width
			input(type="number", ng-model="baseDimensions.width", name="Base Dimensions Width", value="{{baseDimensions.width}}")
		.col-sm-2
			label Cell Height
			input(type="number", ng-model="baseDimensions.height", name="Base Dimensions Height", value="{{baseDimensions.height}}")
		.col-sm-2
			label T/B Margin
			input(type="number", ng-model="margins.top", name="Top and Bottom", value="{{margins.top}}")
		.col-sm-2
			label L/R Margin
			input(type="number", ng-model="margins.left", name="Left and Right", value="{{margins.left}}")
	br
	h3.pull-left Configure Element
	button.btn.btn-info.pull-left(ng-click='createElement()') Add Element
	.clearfix
.gridster
	ul
