div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Templates Management
    //build a form for submission to /api/cms.templates
      //options:
        //pubilish to nav?  where?
        //url
        //publish later  ... maybe
        //grid
        //add text with some kind of side bar ui
        //add imagery
        //title
        //show title option
      //list all available templates for with crud options


.container
  .row
    .col-lg-12(ng-show='cms != null')
      h1.page-header Templates:
      ul.list-group(ng-repeat='item in cms')
        li.list-group-item
          a(ng-href='/cms/templates#{{item._id}}') {{item.title}}
    .col-lg-12(ng-show='template != null')
      h1.page-header {{template.title}}
      a.btn.btn-primary.floater(href='/cms/templates') Back to Templates

    

footer.footer
  .container