div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Templates Management
    //build a form for submission to /api/cms.templates
      //publish options:
        //pubilish to nav?  where?
        //url
        //publish later  ... maybe
        //grid
        //add text with some kind of side bar ui
        //add imagery
        //title
        //show title option
      //list all available templates for with crud options
      //control wheel on selected grid element
        //css attributes extended as methods
        //less fonts / colors / and custom rgb selector extended
        //wysiwig extended
      //gridster adjustments in sizing
      //definitive global margins and/or padding


.container
  .row
    .col-lg-12(ng-show='cms != null')
      h1.page-header Templates:
      ul.list-group
        li.list-group-item(ng-repeat='item in cms')
          a(ng-href='/cms/templates#{{item._id}}') {{item.title}}
    .col-lg-12(ng-show='template != null')
      h1.page-header {{template.title}}
      a.btn.btn-primary.floater(href='/cms/templates') Back to Templates
      button.btn.btn-info(data-toggle="modal" data-target="#edit-grid") Edit Grid
      .modal#edit-grid(role="dialog")
        .modal-dialog
          button.fa.close(data-dismiss="modal") CLOSE
          .edit-grid

    

footer.footer
  .container